body{
    margin:20px;
}
.box{
    color: #fff;
    background-color: #247;
    padding:15px;
    margin:10px;
    border-radius: 10px;
    font-size: 150%;
}
.container{
    display: grid;
    grid-template-columns: repeat(3,100px);
    grid-auto-rows: auto;
    background-color: red;
    grid-gap: 10px;
}